<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Profile-Amon wamalwa</title>
        <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    
    
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    
      <!-- Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">
      {% endblock %}
</head>
{% block content %}
<body id="amon">     
    <section id="amonstats">
        <div class="hero-container"> 
            <h1 class="text-center">PLAYER PROFILE</h1>     
        </div>
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
         
                    <div class="col-lg-6 d-flex justify-content-center">   
                        <img src="assets/img/Amon wamalwa.jpg" alt="Amon wamalwa" id="amon">
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-dark" id="amon">
                                <tbody>
                        
                                <tr>        
                                    <th scope="col">Name:</th>
                                        <th scope="col">Amon wamalwa</th>
                                </tr>
                            
                                        
                                                <tr>
                                                  <th scope="row">Age:</th>
                                                  <td>19</td>                                               
                                                </tr>
                                                <tr>
                                                  <th scope="row">Position:</th>
                                                  <td>Fly-half/Fullback/winger</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Height:</th>
                                                  <td>5'10</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Weight:</th>
                                                  <td>75kg</td>       
                                                </tr>
                                                <tr>
                                                   <th scope="row">Debut season:</th>
                                                   <td>2016/17</td>                                          
                                                </tr>
                                                <tr>
                                                    <th scope="row">Season appearances:16</th>
                                                    <td>**</td>                                         
                                                </tr>
                                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>  
    </section>
</body>
    {% endblock %}            

</html>